.hspozadi{
    background-image: url('hearthstonegif.gif');
    background-color: #ff0707;
    background-attachment: fixed;
    background-size:100% 100%;;
  }

.hedr{
    text-align: center;
    background-color: rgb(202, 143, 34);
    color: white;
    font-size: 80px;
    font-style: italic;
    font-family: Impact;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    animation: pedo 0.5s linear infinite;
    

}
h2 {
  margin-bottom: 20px;
}
form {
  width: 100%;
  margin-bottom: 15px;
}
input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  margin-bottom: 10px;
}

.formular {
  margin-top: 350px;
  display:inline-block;
  text-align: center;
  background-color: rgb(202, 143, 34);
  color: white;
  font-size: 40px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  animation: pedo 0.5s linear infinite;
  width: 450px;
  padding: 20px;
  /*display: flex;    */
  flex-wrap: wrap;    
  overflow-wrap: break-word;  
  white-space: normal;  
  align-items: center;

  justify-content: center;  /* Centers items horizontally */
  
             
  align-content: center;
}

body{
  text-align: center;
  align-items: center;
}

@keyframes pedo{
  0% {border-color: red;}
  33% {border-color: green;}
  66% {border-color: blue;}
  100% {border-color: red;}
}

.scroll {
  width: 300px;
  font-size: 14px;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;  /* Centers items horizontally */
  
  

}

